<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "tv.xeel.superfunny"
	version 	= "0.0.2">

	<name>Superfunny</name>

	<description>the way to have fun nearby you</description>

	<author href="http://johnthego.github.com"
		email="gf@xeel.uk">
		John Thego
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
	</gap:platforms>
		<!--gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/-->

	<preference name="orientation" value="portrait" />
	<icon src="blurry.png" gap:role="default" />

    <gap:splash src="splash/android/ldpi.png" />

	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- 36 pixels -->
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- 48 pixels -->
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- 72 pixels -->
    <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- 96 pixels -->
     
	 <preference name="auto-hide-splash-screen" value="false" />

    <preference name="phonegap-version"                                     value="2.5.0" />
    <preference name="fullscreen"                                           value="true" />
    <preference name="exit-on-suspend"                                      value="true" />
    <preference name="splash-screen-duration"                               value="10000" />
    <preference name="webviewbounce"                                        value="true" />
        
    <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" /> <!-- 200x320 -->
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" /> <!-- 320x480 -->
    <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" /> <!-- 480x800 -->
    <gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" /> <!-- 720x1280 -->
   

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
</widget>
